.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(27, 77, 62, 0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 12px;
  background-color: #ace1af;
}

.modalImg {
  border-radius: 14px;
  min-width: 700px;
  height: 525px;
  object-fit: cover;
  object-position: center;
}
