.loadBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  margin: 0 auto 40px;
  width: 200px;
  height: 45px;
  background-color: #1b4d3e;
  color: #ace1af;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  line-height: 20px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.loadBtn:hover {
  background-color: rgb(27, 77, 62, 0.9);
}
